h1,
h2,
h3,
h4,
h5,
span {
    font-family: "ø";
}

p {
    font-family: "muli";
}

.navbar {
    background-color: #85CDA7;
    color: #1B4332;
    z-index: 2;
}

.navbar .home {
    display: none;
}

.dropdown-menu {
    background-color: #85CDA7;
}


/* Hero */

section.hero {
    position: relative;
    width: 100%;
}

section.hero .jumbotron {
    position: relative;
    width: 100%;
    height: 542px;
    background-color: #E8FFEB;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
}

section.hero .jumbotron .hero {
    position: relative;
    width: 100%;
    flex: 1;
    bottom: -70px;
    z-index: 1;
}

section.hero .jumbotron .hero img {
    position: relative;
    top: -50px;
    width: 650px;
    height: 450px;
}

section.hero .jumbotron .background {
    position: absolute;
    width: 100%;
    height: 550px;
    left: 0;
    background: url(../Gambar/ilustrasi/bannerbg2.png);
    background-size: cover;
    top: -60px;
    z-index: 0;
    animation: herobg 15s linear infinite;
}

@keyframes herobg {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1450px;
    }
}

section.hero .jumbotron .hero_text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 2;
    z-index: 1;
}

section.hero .jumbotron .hero_text p {
    font-size: 30px;
    color: #40916C;
}

section.hero .jumbotron .hero_text h1 {
    font-size: 60px;
    color: #1B4332;
}


/* Cari */

section.cari {
    position: relative;
    width: 100%;
}

section.cari .row {
    width: 100%;
}

section.cari .row .col h1 {
    position: relative;
    width: 400px;
    margin: 0 auto 50px;
}

section.cari .row .search {
    width: 100%;
    height: 300px;
    padding: 20px 50px;
    border-radius: 30px;
}

section.cari .row .search label {
    color: #40916C;
    font-family: "muli";
    font-size: 25px;
}

section.cari .row .search input {
    border-radius: 15px;
    border: 2px solid #1B4332;
    color: #40916C;
}

section.cari .row .btn {
    position: relative;
    width: 200px;
    height: 50px;
    right: -185px;
    margin-top: 130px;
    margin-left: 350px;
    border-radius: 30px;
    font-size: 25px;
    font-family: "ø";
    padding-top: 0;
    text-align: center;
    background-color: #40916C;
    box-shadow: 5px 5px 15px 0 rgba(65, 184, 120, 0.5);
    color: white;
    border: none;
    transition: 0.2s;
}

section.cari .row .btn:hover {
    background-color: #85CDA7;
    color: #1B4332;
    width: 205px;
    height: 55px;
}


/* Result */

section.result {
    word-wrap: 100%;
}

section.result h2 {
    color: #1B4332;
}

section.result .row {
    width: 100%;
}

section.result .gambar {
    margin-left: 310px;
    width: 75%;
}

section.result .gambar .text {
    position: relative;
    bottom: -110px;
    left: -50px;
    height: 20px;
}

section.result .row .col img {
    width: 100px;
    height: 100px;
    margin-top: 100px;
}

section.result .isi {
    margin-top: 100px;
    width: 90%;
    margin-left: 50px;
}

section.result .isi img {
    width: 20px;
    height: 10px;
}

section.result .isi img.draw {
    height: 25px;
}

section.result .isi h2.parameter {
    width: 228px;
}

section.result .garis {
    position: relative;
    width: 95%;
    height: 2px;
    bottom: -45px;
    background-color: #1B4332;
}


/* Footer */

footer {
    position: relative;
    width: 100%;
    height: 750px;
    margin-top: 100px;
    bottom: -100px;
    left: 0;
    background-color: #1B4332;
    background: url("../Gambar/curve/footer2.png");
    background-size: cover;
}

footer .container {
    width: 100%;
    position: relative;
    color: white;
    font-size: 70px;
    bottom: -300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .container .text {
    margin: 0 auto;
    margin-bottom: 70px;
}

footer .container .gambar {
    display: flex;
    align-items: center;
}

footer .container .gambar a img {
    width: 150px;
    height: 80px;
}

footer .container .gambar a img:hover {
    width: 155px;
    height: 85px;
    transition: 0.5s;
}

footer .container .hubungi img {
    width: 40px;
    height: 36px;
}

footer .container span {
    font-size: 30px;
}

footer .container div.garis {
    width: 250px;
    height: 2px;
    background-color: white;
}

footer .container .text div.garis {
    width: 270px;
}

footer .container .gambar a {
    position: absolute;
    padding: 0;
    font-family: 'muli';
    font-size: 20px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

footer .container .gambar a:hover {
    font-size: 22px;
    color: #40916C;
    transition: 0.5s;
}

footer .container .hubungi a img {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px 20px;
    right: -97%;
}

footer .container .hubungi a.wa img {
    margin-right: 70px;
}

footer .container .hubungi a img:hover {
    width: 35px;
    height: 35px;
    transition: 0.5s;
}


/* Copy Right */

footer .container .copy {
    position: relative;
    margin: 0 auto;
    bottom: -180px;
}

footer .container .copy h5 {
    font-family: 'muli';
    font-size: 15px;
}


/* Responsive mobile */

@media screen and (max-width: 576px) {
    .navbar .home {
        display: inline;
    }
    .navbar a img {
        display: none;
    }
    /* Hero */
    section.hero {
        position: relative;
        width: 100%;
    }
    section.hero .jumbotron {
        position: absolute;
        width: 100%;
        height: 270px;
        background: url(../Gambar/curve/tentang_curve2.png);
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
    }
    section.hero .jumbotron .hero {
        position: relative;
        width: 100%;
        flex: 1;
        bottom: -40px;
    }
    section.hero .jumbotron .hero img {
        width: 200px;
        height: 150px;
    }
    section.hero .jumbotron .background {
        position: absolute;
        width: 100%;
        height: 200px;
        top: 0;
        left: 0;
        background: url(../Gambar/ilustrasi/bannerbg2.png);
        background-size: cover;
        z-index: 0;
        animation: herobg 15s linear infinite;
    }
    section.hero .jumbotron .hero_text {
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: column;
        margin: auto;
        flex: 2;
        z-index: 1;
    }
    section.hero .jumbotron .hero_text p {
        font-size: 11.5px;
    }
    section.hero .jumbotron .hero_text h1 {
        font-size: 20px;
    }
    /* Alasan */
    section.alasan {
        padding: 0;
        margin: 0;
        position: relative;
        padding: 0 20px;
        width: 100%;
        bottom: -300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    section.alasan .row {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section.alasan .row .sumber {
        order: 1;
    }
    section.alasan .row .sumber_text {
        order: 2;
    }
    section.alasan p {
        font-size: 10px;
    }
    section.alasan h1 {
        margin-bottom: 10px;
        font-size: 20px;
        margin-top: 50px;
    }
    section.alasan img {
        width: 120px;
        height: 103px;
    }
    section.alasan .row:nth-child(1) img {
        width: 200px;
        height: 100px;
    }
    section.alasan .row:nth-child(1) {
        padding-left: 15px;
    }
    /* Footer */
    footer {
        position: relative;
        bottom: -150px;
        width: 100%;
        height: 300px;
        margin-top: 100px;
        left: 0;
    }
    footer .container {
        width: 100%;
        font-size: 5px;
        bottom: -200px;
        left: -15px;
    }
    footer .container .text {
        position: relative;
        margin: 0 auto;
        top: -60px;
    }
    footer .container .text h1 {
        font-size: 20px;
        text-align: center;
    }
    footer .container .text .garis {
        display: none;
    }
    footer .container .gambar {
        position: absolute;
        display: flex;
        align-items: center;
    }
    footer .container .gambar #fot_logo a img {
        display: none;
    }
    footer .container .hubungi img {
        width: 20px;
        height: 16px;
    }
    footer .container span {
        position: relative;
        font-size: 8px;
        margin-left: 10px;
        bottom: -5px;
    }
    footer .container div.garis {
        width: 80px;
        height: 2px;
        margin-top: 5px;
    }
    footer .container .gambar a {
        padding: 0;
        font-size: 7px;
        margin-top: 5px;
    }
    footer .container .gambar a img {
        position: relative;
        width: 15px;
        height: 15px;
        margin: 2px 5px;
        right: -17px;
    }
    /* Copy Right */
    footer .container .copy {
        position: relative;
        margin: 0;
        bottom: -50px;
        align-self: center;
    }
    footer .container .copy h5 {
        font-family: 'muli';
        font-size: 7px;
        text-align: center;
    }
}