h1,
h2,
h3,
h4,
h5,
span {
    font-family: "ø";
}

p {
    font-family: "muli";
}

.navbar {
    background-color: #85CDA7;
    color: #1B4332;
    z-index: 2;
}

.navbar .home {
    display: none;
}

.dropdown-menu {
    background-color: #85CDA7;
}


/* Hero */

section.hero {
    position: relative;
    width: 100%;
}

section.hero .jumbotron {
    position: absolute;
    width: 100%;
    height: 642px;
    background: url(../Gambar/curve/tentang_curve.png);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
}

section.hero .jumbotron .hero {
    position: relative;
    width: 100%;
    flex: 1;
    bottom: -70px;
    z-index: 1;
}

section.hero .jumbotron .hero img {
    width: 580px;
    height: 350px;
}

section.hero .jumbotron .background {
    position: absolute;
    width: 100%;
    height: 550px;
    left: 0;
    background: url(../Gambar/ilustrasi/bannerbg2.png);
    background-size: cover;
    top: -60px;
    z-index: 0;
    animation: herobg 15s linear infinite;
}

@keyframes herobg {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1450px;
    }
}

section.hero .jumbotron .hero_text {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 2;
    z-index: 1;
}

section.hero .jumbotron .hero_text p {
    font-size: 30px;
    color: #40916C;
}

section.hero .jumbotron .hero_text h1 {
    font-size: 60px;
    color: #1B4332;
}


/* Alasan */

section.alasan {
    position: relative;
    padding: 0 35px;
    width: 100%;
    bottom: -650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.alasan .row {
    padding-top: 130px;
    display: flex;
}

section.alasan p {
    font-size: 25px;
    color: #40916C;
}

section.alasan h1 {
    margin-bottom: 35px;
    font-size: 60px;
    color: #1B4332;
    margin-top: 50px;
}

section.alasan img {
    position: relative;
    width: 520px;
    height: 503px;
    animation: upDown 5s linear infinite;
}

@keyframes upDown {
    0% {
        top: -100px;
    }
    50% {
        top: -50px;
    }
    100% {
        top: -100px;
    }
}

section.alasan .row:nth-child(1) img {
    width: 600px;
    height: 400px;
}

section.alsan .row:nth-child(1) {
    padding-left: 20px;
}


/* Card Footer */

section.footer_card {
    position: relative;
    width: 100%;
    bottom: -900px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

section.footer_card .card {
    position: relative;
    background-color: #E8FFEB;
    padding: 10px 15px;
    border-radius: 30px;
    width: 18rem;
    height: 400px;
}

section.footer_card .card h5 {
    font-size: 38px;
    color: #1B4332;
}

section.footer_card .card:nth-child(2) {
    bottom: 80px;
}

section.footer_card .card:nth-child(2) h5 {
    font-size: 35px;
}

section.footer_card .card .btn {
    height: 37px;
    width: 120px;
    background-color: #85CDA7;
    border: 1px solid #85CDA7;
    color: #1B4332;
    border-radius: 15px;
}

section.footer_card .card .btn:hover {
    height: 42px;
    width: 125px;
    background-color: #2A7050;
    color: #85CDA7;
    transition: 0.5s;
}


/* Footer */

footer {
    position: relative;
    width: 100%;
    height: 870px;
    margin-top: 100px;
    bottom: -500px;
    left: 0;
    background-color: #1B4332;
    background: url("../Gambar/curve/home_footer.png");
    background-size: cover;
}

footer .container {
    width: 100%;
    position: relative;
    color: white;
    font-size: 70px;
    bottom: -415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .container .text {
    margin: 0 auto;
    margin-bottom: 70px;
}

footer .container .gambar {
    display: flex;
    align-items: center;
}

footer .container .gambar a img {
    width: 150px;
    height: 80px;
}

footer .container .gambar a img:hover {
    width: 155px;
    height: 85px;
    transition: 0.5s;
}

footer .container .hubungi img {
    width: 40px;
    height: 36px;
}

footer .container span {
    font-size: 30px;
}

footer .container div.garis {
    width: 250px;
    height: 2px;
    background-color: white;
}

footer .container .text div.garis {
    width: 270px;
}

footer .container .gambar a {
    position: absolute;
    padding: 0;
    font-family: 'muli';
    font-size: 20px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

footer .container .gambar a:hover {
    font-size: 22px;
    color: #40916C;
    transition: 0.5s;
}

footer .container .hubungi a img {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px 20px;
    right: -97%;
}

footer .container .hubungi a.wa img {
    margin-right: 70px;
}

footer .container .hubungi a img:hover {
    width: 35px;
    height: 35px;
    transition: 0.5s;
}


/* Copy Right */

footer .container .copy {
    position: relative;
    margin: 0 auto;
    bottom: -180px;
}

footer .container .copy h5 {
    font-family: 'muli';
    font-size: 15px;
}


/* Responsive mobile */

@media screen and (max-width: 576px) {
    .navbar .home {
        display: inline;
    }
    .navbar a img {
        display: none;
    }
    /* Hero */
    section.hero {
        position: relative;
        width: 100%;
    }
    section.hero .jumbotron {
        position: absolute;
        width: 100%;
        height: 270px;
        background: url(../Gambar/curve/tentang_curve2.png);
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
    }
    section.hero .jumbotron .hero {
        position: relative;
        width: 100%;
        flex: 1;
        bottom: -40px;
    }
    section.hero .jumbotron .hero img {
        width: 200px;
        height: 150px;
    }
    section.hero .jumbotron .background {
        position: absolute;
        width: 100%;
        height: 200px;
        top: 0;
        left: 0;
        background: url(../Gambar/ilustrasi/bannerbg2.png);
        background-size: cover;
        z-index: 0;
        animation: herobg 15s linear infinite;
    }
    section.hero .jumbotron .hero_text {
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: column;
        margin: auto;
        flex: 2;
        z-index: 1;
    }
    section.hero .jumbotron .hero_text p {
        font-size: 11.5px;
    }
    section.hero .jumbotron .hero_text h1 {
        font-size: 20px;
    }
    /* Alasan */
    section.alasan {
        padding: 0;
        margin: 0;
        position: relative;
        padding: 0 20px;
        width: 100%;
        bottom: -300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    section.alasan .row {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section.alasan .row .sumber {
        order: 1;
    }
    section.alasan .row .sumber_text {
        order: 2;
    }
    section.alasan p {
        font-size: 10px;
    }
    section.alasan h1 {
        margin-bottom: 10px;
        font-size: 20px;
        margin-top: 50px;
    }
    section.alasan img {
        width: 120px;
        height: 103px;
    }
    section.alasan .row:nth-child(1) img {
        width: 200px;
        height: 100px;
    }
    section.alasan .row:nth-child(1) {
        padding-left: 15px;
    }
    /* Card Footer */
    section.footer_card {
        position: relative;
        width: 100%;
        bottom: -360px;
        display: flex;
        justify-content: space-around;
        z-index: 1;
    }
    section.footer_card .card {
        position: relative;
        width: 100px;
        height: 130px;
        padding: 0px 0px;
        border-radius: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        box-sizing: border-box;
    }
    section.footer_card .card h5 {
        position: relative;
        font-size: 10px;
        top: -10px;
    }
    section.footer_card .card:nth-child(2) {
        bottom: 40px;
    }
    section.footer_card .card:nth-child(2) h5 {
        font-size: 9px;
    }
    section.footer_card .card .btn {
        position: relative;
        width: 70px;
        height: 10px;
        font-size: 7px;
        border-radius: 15px;
        top: -35px;
        left: -4px;
    }
    section.footer_card .card #poltek {
        position: relative;
        top: -40px;
        left: -4px;
    }
    section.footer_card .card .btn span {
        position: relative;
        font-family: "muli";
        top: -5px;
    }
    /* Footer */
    footer {
        position: relative;
        bottom: -150px;
        width: 100%;
        height: 300px;
        margin-top: 100px;
        left: 0;
    }
    footer .container {
        width: 100%;
        font-size: 5px;
        bottom: -200px;
        left: -15px;
    }
    footer .container .text {
        position: relative;
        margin: 0 auto;
        top: -60px;
    }
    footer .container .text h1 {
        font-size: 20px;
        text-align: center;
    }
    footer .container .text .garis {
        display: none;
    }
    footer .container .gambar {
        position: absolute;
        display: flex;
        align-items: center;
    }
    footer .container .gambar #fot_logo a img {
        display: none;
    }
    footer .container .hubungi img {
        width: 20px;
        height: 16px;
    }
    footer .container span {
        position: relative;
        font-size: 8px;
        margin-left: 10px;
        bottom: -5px;
    }
    footer .container div.garis {
        width: 80px;
        height: 2px;
        margin-top: 5px;
    }
    footer .container .gambar a {
        padding: 0;
        font-size: 7px;
        margin-top: 5px;
    }
    footer .container .gambar a img {
        position: relative;
        width: 15px;
        height: 15px;
        margin: 2px 5px;
        right: -17px;
    }
    /* Copy Right */
    footer .container .copy {
        position: relative;
        margin: 0;
        bottom: -50px;
        align-self: center;
    }
    footer .container .copy h5 {
        font-family: 'muli';
        font-size: 7px;
        text-align: center;
    }
}